@model System.Collections.Generic.Dictionary<string,string>

<ul class="navbar-nav flex-grow-1">
    @foreach (var menu in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" 
               asp-controller="Home" asp-action="@menu.Value">@menu.Key</a>
        </li>
    }
</ul>
